<h4>Location: {{fullLocation}}</h4>
<hr>

<h3>Rentals in available in {{city.name}}:</h3>

<ul>
{{#each sortedRentals as |rental|}}
  <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city.name}} {{rental.cost}}{{/link-to}}</li>
  <button {{action 'destroyCity' city}}>Delete City</button>
{{/each}}
</ul>
