<li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing }}
     <p><img src={{rental.image}} alt={{rental.type}}></p>
     <button {{action 'imageHide'}}>Hide image</button>
   {{else}}
     <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
  <button {{action 'delete' rental}}>Delete</button>
</li>
